.themeButton {
        background-color: blue;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 1rem;
}

.themeButton-enter {
  transform: scale(1);
  transition: transform 2000ms ease;
}

.themeButton-enter-active {
  transform: scale(100);
}

.themeButton-exit {
  transform: scale(1);
  transition: transform 1000ms ease;
}

/* .themeButton-exit-active {
    transform: scale(1);
} */

/* .themeButton-exit-done {
  transform: scale(1);
} */




.proThemeCSS {
  background-color: beige;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}

.casualThemeCSS {
  background-color: tan;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}